<ion-view view-title="Alerts">
  <ion-content>
    <div class="card">
      <div class="item item-divider  bar bar-header bar-balanced">
        <i class="icon icon-right ion-alert"></i> Liquidity Event
      </div>
      <div class="item item-text-wrap">
        A block of 10k AAPL became available
      </div>
    </div>

    <div class="card">
      <div class="item item-divider icon ion-alert bar bar-header bar-assertive">
        Market Closing
      </div>
      <div class="item item-text-wrap">
        We may not be able to finish your IBM order
      </div>
    </div>

  </ion-content>
</ion-view>
