<ion-view view-title="Orders">
  <ion-content>
    <div class="card" ng-repeat="order in orders">
      <div class="item item-divider  bar bar-header bar-balanced">
        {{ order.symbol }}  {{ order.filled }} <span style="float: right">{{ order.percentDone }}%</span>
      </div>
      <div class="item item-text-wrap">
        {{ order.algoId }}  {{ order.type }} {{ order.moniker }}
        <span style="float: right">{{order.remaining}} </span>
      </div>
    </div>

  </ion-content>
</ion-view>
